@model TRS.Models.ViewModels.DailyReportModel

@{
    ViewData["Title"] = "Strona główna";
    var date = Model.Date.ToString("yyyy-MM-dd");
    var dailySummary = Model.Report.Entries.Where(x => DayEquals(Model.Date, x.Date))
        .GroupBy(x => x.Code)
        .ToDictionary(x => x.Key, x => x.Sum(y => y.Time));
    var dailyTotal = Model.Report.Entries.Where(x => DayEquals(Model.Date, x.Date))
        .Sum(x => x.Time);

    bool DayEquals(DateTime date1, DateTime date2) =>
        date1.ToString("yyyy-MM-dd") == date2.ToString("yyyy-MM-dd");
}

<main class="bd-main order-1 gap-3">
    <div class="d-md-flex align-items-center justify-content-between">
        <h1 class="display-6">Raport czasu pracy na dzień @Html.DisplayFor(model => model.Date)</h1>
        <form asp-action="Index" method="GET">
            <span>Przejdź do: </span>
            <input asp-for="Date"/>
            <input type="submit" value="Wyślij"/>
        </form>
    </div>
    <div class="text-center">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Report.Entries[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Report.Entries[0].Subcode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Report.Entries[0].Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Report.Entries[0].Description)
                </th>
                <th>
                    Akcje
                </th>
            </tr>
            </thead>
            <tbody>
            @for (var i = 0; i < Model.Report.Entries.Count; i++)
            {
                if (!DayEquals(Model.Report.Entries[i].Date, Model.Date))
                    continue;
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Report.Entries[i].Code)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Report.Entries[i].Subcode)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Report.Entries[i].Time)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Report.Entries[i].Description)
                    </td>
                    <td>
                        <a asp-controller="ReportEntry" asp-action="Show" asp-route-date="@date" asp-route-id="@i">Obejrzyj</a>
                        @if (!Model.Report.Frozen)
                        {
                            <a asp-controller="ReportEntry" asp-action="Edit" asp-route-date="@date" asp-route-id="@i">Zmień</a>
                            <form method="POST">
                                <button asp-controller="ReportEntry" asp-action="Delete" asp-route-date="@date" asp-route-id="@i">Skasuj</button>
                            </form>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
    @if (!Model.Report.Frozen)
    {
        <p>
            <a asp-controller="ReportEntry" asp-action="Add" asp-route-date="@date">Dodaj</a>
        </p>
    }
    <p>
        <strong>Podsumowanie dzienne</strong>
    </p>
    <table class="table">
        <tbody>
        @foreach (var (projectCode, time) in dailySummary)
        {
            <tr>
                <td>
                    @projectCode
                </td>
                <td>
                    @time
                </td>
            </tr>
        }
        <tr><td></td><td></td></tr>
        <tr>
            <td>
                Razem
            </td>
            <td>
                @dailyTotal
            </td>
        </tr>
        </tbody>
    </table>
</main>
