@using TRS.Models.DomainModels
@model TRS.Models.DomainModels.ReportEntry

@{
    ViewData["Title"] = "Dodawanie wpisu";
}

<main class="bd-main order-1 gap-3">
    <form method="POST">
        <div class="text-center">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input name="@nameof(ReportEntry.Date)" asp-for="Date" />
                    </td>
                    <td>
                        <input name="@nameof(ReportEntry.Code)" asp-for="Code" />
                    </td>
                    <td>
                        <input name="@nameof(ReportEntry.Subcode)" asp-for="Subcode" />
                    </td>
                    <td>
                        <input name="@nameof(ReportEntry.Time)" asp-for="Time" />
                    </td>
                    <td>
                        <input name="@nameof(ReportEntry.Description)" asp-for="Description" />
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button asp-action="Add">Zatwierdź</button>
    </form>
</main>
