@model TRS.Models.ViewModels.ReportEntryForAddingModel

@{
    ViewData["Title"] = "Dodawanie wpisu";
}

<main class="bd-main order-1 gap-3">
    <form method="POST">
        <div class="text-center">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Subcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <input name="Date" asp-for="Date" />
                    </td>
                    <td>
                        <select id="ProjectSelectList" name="Code" asp-for="Code" asp-items="Model.ProjectSelectList">
                        </select>
                    </td>
                    <td>
                        <select id="ProjectCategorySelectList" name="Subcode">
                        </select>
                    </td>
                    <td>
                        <input name="Time" asp-for="Time" />
                    </td>
                    <td>
                        <input name="Description" asp-for="Description" />
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(model => model.Date)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Code)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Subcode)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Time)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Description)
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button asp-action="Add">Zatwierdź</button>
    </form>
</main>

@section Scripts
{
    <script type="text/javascript">
        (() => {
            const categoryData = @Json.Serialize(Model.ProjectCategorySelectList);
            const projectSelect = document.getElementById("ProjectSelectList");
            const categorySelect = document.getElementById("ProjectCategorySelectList");

            projectSelect.addEventListener("change", updateCategorySelect);
            window.addEventListener("load", updateCategorySelect);

            function updateCategorySelect() {
                if (projectSelect.selectedIndex !== -1) {
                    let currentData = categoryData[projectSelect.selectedOptions[0].value];
                    while (categorySelect.options.length > currentData.length) categorySelect.remove(0);
                    while (categorySelect.options.length < currentData.length) categorySelect.add(document.createElement('option'));
                    for (let i = 0; i < currentData.length; i++)
                        Object.assign(categorySelect.options[i], currentData[i]);
                    categorySelect.disabled = false;
                } else {
                    categorySelect.disabled = true;
                }
            }
        })()
    </script>
}
