@using TRS.Models.DomainModels
@using TRS.Extensions
@model TRS.Models.ViewModels.ReportEntryForEditingModel

@{
    ViewData["Title"] = "Edycja wpisu";
    var id = int.Parse((string)Url.ActionContext.RouteData.Values["id"]);
}

<main class="bd-main order-1 gap-3">
    <form method="POST">
        <div class="text-center">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ReportEntry.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReportEntry.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReportEntry.Subcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReportEntry.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ReportEntry.Description)
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.ReportEntry.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.ReportEntry.Code)
                    </td>
                    <td>
                        <select name="@nameof(ReportEntry.Subcode)" asp-items="Model.CategorySelectList" asp-for="ReportEntry.Subcode">
                        </select>
                    </td>
                    <td>
                        <input name="@nameof(ReportEntry.Time)" asp-for="ReportEntry.Time"/>
                    </td>
                    <td>
                        <input name="@nameof(ReportEntry.Description)" asp-for="ReportEntry.Description"/>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <button asp-action="Edit" asp-route-id="@id" asp-route-date="@Model.ReportEntry.Date.ToDateString()">Zatwierdź</button>
    </form>
</main>
