@using TRS.Models.DomainModels
@model TRS.Models.ViewModels.DailyReportModel

@{
    ViewData["Title"] = "Edycja wpisu";
    var id = int.Parse((string)Url.ActionContext.RouteData.Values["id"]);
}

<main class="bd-main order-1 gap-3">
    <form method="POST">
        <div class="text-center">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Report.Entries[0].Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Report.Entries[0].Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Report.Entries[0].Subcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Report.Entries[0].Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Report.Entries[0].Description)
                    </th>
                </tr>
                </thead>
                <tbody>
                @if (id < Model.Report.Entries.Count)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => model.Report.Entries[0].Date)
                            <input type="hidden" name="@nameof(ReportEntry.Date)" asp-for="Report.Entries[id].Date" />
                        </td>
                        <td>
                            @Html.DisplayFor(model => model.Report.Entries[0].Code)
                            <input type="hidden" name="@nameof(ReportEntry.Code)" asp-for="Report.Entries[id].Code" />
                        </td>
                        <td>
                            <input name="@nameof(ReportEntry.Subcode)" asp-for="Report.Entries[id].Subcode" />
                        </td>
                        <td>
                            <input name="@nameof(ReportEntry.Time)" asp-for="Report.Entries[id].Time" />
                        </td>
                        <td>
                            <input name="@nameof(ReportEntry.Description)" asp-for="Report.Entries[id].Description" />
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
        <button asp-action="Edit">Zatwierdź</button>
    </form>
</main>
