@using TRS.Models.ViewModels
@model TRS.Models.ViewModels.ProjectWithUserSummaryModel
@{
    ViewData["Title"] = "Przegląd projektu";
}

<main class="bd-main order-1 gap-3">
    <h1 class="display-6">Przegląd projektu @Model.Project.Name</h1>
    <div class="text-center">
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Project.Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.Budget)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.Subactivities)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Project.Active)
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    @Html.DisplayFor(model => model.Project.Code)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Project.Name)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Project.Budget)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Project.Subactivities)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Project.Active)
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    @if (Model.UserSummaries.Length > 0)
    {
        <strong>Zestawienie czasu pracy dla pracowników:</strong>
        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserSummaries[0].Username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserSummaries[0].Month)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserSummaries[0].Time)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserSummaries[0].Status)
                </th>
                <th>
                    Akcje
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var userSummary in Model.UserSummaries)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => userSummary.Username)
                    </td>
                    <td>
                        @Html.DisplayFor(model => userSummary.Month)
                    </td>
                    <td>
                        @Html.DisplayFor(model => userSummary.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(model => userSummary.Status)
                    </td>
                    <td>
                        @if (userSummary.Status != UserProjectMonthlySummaryModel.SummaryStatus.InProgress)
                        {
                            <a href="#">Zatwierdź</a>
                        }
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
</main>
