@using TRS.Extensions
@model TRS.Models.ViewModels.MonthlySummaryModel

@{
    ViewData["Title"] = "Miesięczne zestawienie";
    var date = (DateTime)ViewData["date"];
}

<main class="bd-main order-1 gap-3">
    <div class="d-md-flex align-items-center justify-content-between">
        <h1 class="display-6">Zestawienie czasu pracy na miesiąc @Html.DisplayFor(model => model.Month)</h1>
        <form asp-action="Index" method="GET">
            <span>Przejdź do: </span>
            <input name="Date" asp-for="Month"/>
            <input type="submit" value="Wyślij"/>
        </form>
    </div>
    <table class="table">
        <tbody>
        @foreach (var summaryEntry in Model.PerProject)
        {
            <tr>
                <td>
                    @summaryEntry.ProjectCode
                </td>
                <td>
                    @summaryEntry.Time
                </td>
            </tr>
        }
        <tr>
            <td></td><td></td>
        </tr>
        <tr>
            <td>
                Razem zadeklarowanych
            </td>
            <td>
                @Model.TotalTime
            </td>
        </tr>
        <tr>
            <td>
                Razem zaakceptowanych
            </td>
            <td>
                @Model.TotalAcceptedTime
            </td>
        </tr>
        </tbody>
    </table>
    @if (!Model.Frozen)
    {
        <form method="POST">
            <button asp-controller="Report" asp-action="Freeze" asp-route-date="@date.ToDateString()">Zatwierdź</button>
        </form>
    }
</main>
