@model Trs.Models.ViewModels.ProjectModel
@{
    ViewData["Title"] = "Edycja projektu";
}

<main class="bd-main order-1 gap-3">
    <h1 class="display-6">Edycja projektu @Model!.Name</h1>
    <form method="POST">
        <div class="text-center">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Budget)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Categories)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Active)
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(model => model.Code)
                        <input type="hidden" asp-for="Code"/>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                        <input type="hidden" asp-for="Name"/>
                    </td>
                    <td>
                        <input asp-for="Budget" />
                    </td>
                    <td>
                        <textarea asp-for="Categories"></textarea>
                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Active)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.ValidationMessageFor(model => model.Code)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Name)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Budget)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Categories)
                    </td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Active)
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p class="text-danger">
            @Html.ValidationMessageFor(model => model.Timestamp)
        </p>
        <input type="hidden" asp-for="Timestamp"/>
        <button asp-action="Edit">Zatwierdź</button>
    </form>
</main>
